.skillsSection {
    margin-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.skillName {
    font-family: "Agustina Regular";
    font-weight: bold;
    font-size: 35pt;
    padding: 5px;
}