.educationComponent{
    height: 120px;

}
.educationCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 50px;
    padding: 10px;
}

.educationCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    /* padding-left: 20%;
    padding-right: 20%; */
    text-align: center;
}
.hatIcon {
    height: 80px;
    width: 80px;
}