.educationSection{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 50px;
    text-align: center;
    height: max-content;
}

.educationheader{
    font-family: "Agustina Regular";
    font-weight: bold;
    font-size: 40pt;
    color: orange;
    text-decoration: underline;
}