.main-navbar {
    padding-left: 40px;
    padding-top: 15px;
    background: #1b242f;
    height: 40px;
}

.main-navbar .entry {
    padding: 20px;
    color: white;
    text-transform: capitalize;
}