/* header */

.header {
    max-width: 100%;
    padding: 20px 10px;
    margin: 0px auto;
    min-height: 400px;
    background: #252934;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Agustina Regular";
    font-weight: bold;
    font-size: 80pt;
  }

.greeting{
  color: white;
}

.typewriter {
  color: #dd4a68;
  border-right: .15em solid orange;
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}