.CommentSection{
    padding-top: 50px;
    text-align: center;
}

.commentBox {
    margin-top: 10px;
}

.discussheader{
    font-family: "Agustina Regular";
    font-weight: bold;
    font-size: 40pt;
    text-decoration: underline;
}